*{
    margin: 0;
    padding: 0;
}

body{
    background: url("3.jpeg");
    background-size: 117%;
    background-position: -100px 0px;
}
div.main {
    width: 400px;
    margin: 50px auto 0px auto;
}
h2{
    text-align:center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 30px;
}
div.register{
    
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px 
    rgba(0,0,0,0.3);
    color: whitesmoke;
   
}
form#register{
    margin: 40px;
}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style:normal;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: azure;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
input#submit{
    width: 100px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: darkturquoise;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
}
label,span,h2{
    text-shadow: 1px 1px 5px
    rgba(0,0,0,0.3);

}